.karusel {
  background-color: #5cc8a8;
}
.social {
  padding-top: 11%;
  padding-bottom: 11%;
}

.carousel-img {

  height: auto;
  width: 70% !important;
}

@media screen and (max-width: 767px) {
    .carousel-img{
    	background-image: url(html.jpg);
      width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .carousel-img{
    	background-image: url(html.jpg);
      width: 70% !important;
    }

    #knap {
      margin-top: 17%;
    }
}

@media (min-width: 992px) {
      .carousel-img{
          background-image: url(html.jpg);
          width: 50% !important;
      }



}

@media (min-width: 1200px) {
    .carousel-img{
         background-image: url(html.jpg);
         width: 70% !important;
     }


     #knap {
       margin-top: 13%;
     }

}

html,body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow-x: hidden;
}


body {
  text-align: center;
}

.nav-item{
  text-align: right;
}

.copyright {
  color: #fff;
}

.footer-icon {
  margin: 20px 10px;
  color: #fff;
}

#footer {
  background-color: #5984CD;
  padding-top: 80px;
  padding-bottom: 80px;
}
